body {
    background-color: gray;
}

/* Regras de seletor de tipo */
h1 {
   font-family: Ubuntu;
}
p {
   color: white;
   border: 4px solid blue;
}
/* Regra com seletor de identificador */
#igor {
    font-family: Ubuntu;
    font-size: 10px;
}
/* Regra com seletor de estilo */ 
.special {
    border: 3px dotted blue;
}


